<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Common disease</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Common diseases</h1>
     <a class="nav-link" href="https://diseasepredictioniitb.herokuapp.com/">Home</a>
	 <a class="nav-link" href="https://cancerbreastdisease.herokuapp.com/">Reset</a>
     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
        <input type="text" name="itching" placeholder="itching" />
    	<input type="text" name="skin_rash" placeholder="skin_rash" />
        <input type="text" name="nodal_skin_eruptions" placeholder="nodal_skin_eruptions" />
	<input type="text" name="continuous_sneezing" placeholder="continuous_sneezing" /><br>
    	<input type="text" name="shivering" placeholder="shivering" />
        <input type="text" name="chills" placeholder="chills" />
	<input type="text" name="joint_pain" placeholder="joint_pain" />
    	<input type="text" name="stomach_pain" placeholder="stomach_pain" /><br>
        <input type="text" name="acidity" placeholder="acidity" />
	<input type="text" name="ulcers_on_tongue" placeholder="ulcers_on_tongue" />
    	<input type="text" name="muscle_wasting" placeholder="muscle_wasting" />
        <input type="text" name="vomiting" placeholder="vomiting" /><br>	
	<input type="text" name="burning_micturition" placeholder="burning_micturition" />
    	<input type="text" name="spotting_ urination" placeholder="spotting_ urination" />
        <input type="text" name="fatigue" placeholder="fatigue" />
	<input type="text" name="weight_gain" placeholder="weight_gain" /><br>
    	<input type="text" name="anxiety" placeholder="anxiety" />
        <input type="text" name="cold_hands_and_feets" placeholder="cold_hands_and_feets" />
	<input type="text" name="mood_swings" placeholder="mood_swings" />						
    	<input type="text" name="weight_loss" placeholder="weight_loss" /><br>
        <input type="text" name="restlessness" placeholder="restlessness" />
        <input type="text" name="lethargy" placeholder="lethargy" />
    	<input type="text" name="patches_in_throat" placeholder="patches_in_throat" />
        <input type="text" name="irregular_sugar_level" placeholder="irregular_sugar_level" /><br>
	<input type="text" name="cough" placeholder="cough" />
    	<input type="text" name="high_fever" placeholder="high_fever" />
        <input type="text" name="sunken_eyes" placeholder="sunken_eyes" />
	<input type="text" name="breathlessness" placeholder="breathlessness" /><br>
    	<input type="text" name="sweating" placeholder="sweating" />
        <input type="text" name="dehydration" placeholder="dehydration" />			
	<input type="text" name="indigestion" placeholder="indigestion" />
    	<input type="text" name="headache" placeholder="headache" /><br>
        <input type="text" name="yellowish_skin" placeholder="yellowish_skin" />
        <input type="text" name="dark_urine" placeholder="dark_urine" />
    	<input type="text" name="nausea" placeholder="nausea" />
        <input type="text" name="loss_of_appetite" placeholder="loss_of_appetite" /><br>
	<input type="text" name="pain_behind_the_eyes" placeholder="pain_behind_the_eyes" />
    	<input type="text" name="back_pain" placeholder="back_pain" />
        <input type="text" name="constipation" placeholder="constipation" />
	<input type="text" name="abdominal_pain" placeholder="abdominal_pain" /><br>
        <input type="text" name="diarrhoea" placeholder="diarrhoea" />
        <input type="text" name="mild_fever" placeholder="mild_fever" />
    	<input type="text" name="yellow_urine" placeholder="yellow_urine" />	
        <input type="text" name="yellowing_of_eyes" placeholder="yellowing_of_eyes" /><br>
	<input type="text" name="acute_liver_failure" placeholder="acute_liver_failure" />
    	<input type="text" name="fluid_overload" placeholder="fluid_overload" />
        <input type="text" name="swelling_of_stomach" placeholder="swelling_of_stomach" />
	<input type="text" name="swelled_lymph_nodes" placeholder="swelled_lymph_nodes" /><br>
    	<input type="text" name="malaise" placeholder="malaise" />
        <input type="text" name="blurred_and_distorted_vision" placeholder="blurred_and_distorted_vision" />
	<input type="text" name="phlegm" placeholder="phlegm" />
    	<input type="text" name="throat_irritation" placeholder="throat_irritation" /><br>
        <input type="text" name="redness_of_eyes" placeholder="redness_of_eyes" />
        <input type="text" name="sinus_pressure" placeholder="sinus_pressure" />
    	<input type="text" name="runny_nose" placeholder="runny_nose" />
	    													
        <input type="text" name="congestion" placeholder="congestion" /><br>
	<input type="text" name="chest_pain" placeholder="chest_pain" />
    	<input type="text" name="weakness_in_limbs" placeholder="weakness_in_limbs" />
        <input type="text" name="fast_heart_rate" placeholder="fast_heart_rate" />
	<input type="text" name="pain_during_bowel_movements" placeholder="pain_during_bowel_movements" /><br>
        <input type="text" name="pain_in_anal_region" placeholder="pain_in_anal_region" />
        <input type="text" name="bloody_stool" placeholder="bloody_stool" />
    	<input type="text" name="irritation_in_anus" placeholder="irritation_in_anus" />
        <input type="text" name="neck_pain" placeholder="neck_pain" /><br>
	<input type="text" name="dizziness" placeholder="dizziness" />
    	<input type="text" name="cramps" placeholder="cramps" />
        <input type="text" name="bruising" placeholder="bruising" />
	<input type="text" name="obesity" placeholder="obesity" /><br>
    	<input type="text" name="swollen_legs" placeholder="swollen_legs" />		
        <input type="text" name="swollen_blood_vessels" placeholder="swollen_blood_vessels" />
	<input type="text" name="puffy_face_and_eyes" placeholder="puffy_face_and_eyes" />
    	<input type="text" name="enlarged_thyroid" placeholder="enlarged_thyroid" /><br>
        <input type="text" name="brittle_nails" placeholder="brittle_nails" />
        <input type="text" name="swollen_extremeties" placeholder="swollen_extremeties" />
    	<input type="text" name="excessive_hunger" placeholder="excessive_hunger" />
        <input type="text" name="extra_marital_contacts" placeholder="extra_marital_contacts" /><br>
	<input type="text" name="drying_and_tingling_lips" placeholder="drying_and_tingling_lips" />
    	<input type="text" name="slurred_speech" placeholder="slurred_speech" />
        <input type="text" name="knee_pain" placeholder="knee_pain" />
	<input type="text" name="hip_joint_pain" placeholder="hip_joint_pain" /><br>
	<input type="text" name="muscle_weakness" placeholder="muscle_weakness" />
    	<input type="text" name="stiff_neck" placeholder="stiff_neck" />
        <input type="text" name="swelling_joints" placeholder="swelling_joints" />
	<input type="text" name="movement_stiffness" placeholder="movement_stiffness" /><br>
    	<input type="text" name="spinning_movements" placeholder="spinning_movements" />
        <input type="text" name="loss_of_balance" placeholder="loss_of_balance" />
	<input type="text" name="unsteadiness" placeholder="unsteadiness" />							
    	<input type="text" name="weakness_of_one_body_side" placeholder="weakness_of_one_body_side" /><br>
        <input type="text" name="loss_of_smell" placeholder="loss_of_smell" />
        <input type="text" name="bladder_discomfort" placeholder="bladder_discomfort" />
    	<input type="text" name="foul_smell_of urine" placeholder="foul_smell_of urine" />
        <input type="text" name="continuous_feel_of_urine" placeholder="continuous_feel_of_urine" /><br>
	<input type="text" name="passage_of_gases" placeholder="passage_of_gases" />
    	<input type="text" name="internal_itching" placeholder="internal_itching" />
        <input type="text" name="toxic_look_(typhos)" placeholder="toxic_look_(typhos)" />
	<input type="text" name="depression" placeholder="depression" /><br>
        <input type="text" name="irritability" placeholder="irritability" />
        <input type="text" name="muscle_pain" placeholder="muscle_pain" />
    	<input type="text" name="altered_sensorium" placeholder="altered_sensorium" />
        <input type="text" name="red_spots_over_body" placeholder="red_spots_over_body" /><br>
	<input type="text" name="belly_pain" placeholder="belly_pain" />
    	<input type="text" name="abnormal_menstruation" placeholder="abnormal_menstruation" />
        <input type="text" name="dischromic _patches" placeholder="dischromic _patches" />
	<input type="text" name="watering_from_eyes" placeholder="watering_from_eyes" /><br>
    	<input type="text" name="increased_appetite" placeholder="increased_appetite" />
        <input type="text" name="polyuria" placeholder="polyuria" />
	<input type="text" name="family_history" placeholder="family_history" />
    	<input type="text" name="mucoid_sputum" placeholder="mucoid_sputum" /><br>
        <input type="text" name="rusty_sputum" placeholder="" />
        <input type="text" name="lack_of_concentration" placeholder="lack_of_concentration" />
    	<input type="text" name="visual_disturbances" placeholder="visual_disturbances" />
        <input type="text" name="receiving_blood_transfusion" placeholder="receiving_blood_transfusion" /><br>
	<input type="text" name="receiving_unsterile_injections" placeholder="receiving_unsterile_injections" />
    	<input type="text" name="coma" placeholder="coma" />
        <input type="text" name="stomach_bleeding" placeholder="stomach_bleeding" />
	<input type="text" name="distention_of_abdomen" placeholder="distention_of_abdomen" /><br>
	<input type="text" name="history_of_alcohol_consumption" placeholder="history_of_alcohol_consumption" />
    	<input type="text" name="fluid_overload" placeholder="fluid_overload" />
        <input type="text" name="blood_in_sputum" placeholder="blood_in_sputum" />
	<input type="text" name="prominent_veins_on_calf" placeholder="prominent_veins_on_calf" /><br>
        <input type="text" name="palpitations" placeholder="palpitations" />
	    									
        <input type="text" name="painful_walking" placeholder="painful_walking" />
    	<input type="text" name="pus_filled_pimples" placeholder="pus_filled_pimples" />
        <input type="text" name="blackheads" placeholder="blackheads" /><br>
	<input type="text" name="scurring" placeholder="scurring" />
    	<input type="text" name="skin_peeling" placeholder="skin_peeling" />
        <input type="text" name="silver_like_dusting" placeholder="silver_like_dusting" />
	<input type="text" name="small_dents_in_nails" placeholder="small_dents_in_nails" /><br>
    	<input type="text" name="inflammatory_nails" placeholder="inflammatory_nails" />
        <input type="text" name="blister" placeholder="blister" />
	<input type="text" name="red_sore_around_nose" placeholder="red_sore_around_nose" />
    	<input type="text" name="yellow_crust_ooze" placeholder="yellow_crust_ooze" /><br>
				
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>
